* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 90vh;
    display: flex;
    background-color: #2e2e2e;
}

.memory-game {
    width: 600px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.95);
    transition: transform .3s;
}

.back-face {
    width: 100%; 
    height: 100%;
    padding: 20px; 
    position: absolute; 
    border-radius: 5px; 
    background: #4B4B4B;
    backface-visibility: hidden;
}

.front-face {
    width: 100%; 
    height: 100%;
    padding: 30px; 
    position: absolute; 
    border-radius: 10px; 
    background: #ffffff;
    transform: rotateY(180deg);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

/* 2. Add Countdown timer (till game end) */

#dynamic-progress {
    margin: auto;
    margin-top: 35px;
    width: 640px;
}